body {
    font-family: sans-serif;
    margin: auto;
    font-size: 20px;
}

header {
    display: flex;
    background-color: rgb(235, 42, 42);
    padding: 20px 20px 20px 20px;
    justify-content: space-between;
}

.header1{
    padding-top: 25px;
}

.icon1 {
    padding-right: 20px;
    
}

.butom{
    border-color: black;
    color: white;
}

.butom2 {
    background-color: red;
    border-radius: 100%;
    width: 70px;
    height: 70px;
}

.main_container {
    display: flex;
    justify-content: space-between;
    padding: 25px 25px 25px 25px;

}

.imagen-container {
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
    margin-right: 20px;
}

.container1_0 {
    padding-top: 10px;
}

.container1_1 {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
    padding-top: 20px;
}

.about {
    padding-left: 20px;
}

.container2_0 {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    padding: 20px 20px 20px 20px;
    margin-top: 10px;

}

.container2_1 {
    display: flex;
    flex-direction: column;
    margin-bottom: auto;
    padding: 20px 20px 20px 20px;
    margin-top: 6px;
}

.container3_0 {
    padding: 20px 20px 20px 20px;
    margin: 0px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
}

.container4_0 {
    display: flex;
    justify-content: space-between;
    .min2 {
        padding-left: 20px;
    }
    .min3 {
        padding-right: 20px;
    }
    
}

#container4_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 40px 40px 40px;
}

#main_container2 {
    background-color: rgb(235, 42, 42);
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social {
    display: flex;
    justify-content: space-between;
}

.min1 {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

.min4 {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 10px;
}

#sans {
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 50px;
}