<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style1.css">
    <title>LAB</title>
</head>
<body>
    <header>
        <div class="header1">
            <a href="{{ url_for('futsal') }}" class="icon1">
                <img src="{{ iconofutbal }}" alt="icono futsal" width="50" height="50">
            </a>
            <a href="{{ url_for('basquetball') }}" class="icon1">
                <img src="{{ iconobaquet }}" alt="icono baquet" width="50" height="50">
            </a>
            <a href="{{ url_for('voli') }}" class="icon2">
                <img src="{{ iconovoley }}" alt="icono voley" width="50" height="50">    
            </a>
        </div>
        <div class="container1_0">
            <a href="{{ url_for('index') }}" class="butom" >
                <img src="/static/logoLAB.png" alt="logo del liceo para volver al inicio" width="90" height="90">
            </a>
        </div>
        <div class="container1_1">
            <h3>Sobre nosotros</h3>
            <a href="{{ url_for('about') }}" class="about">
                <button class="butom2"></button>
            </a>
        </div>
    </header>
    <div class="main_container">
        <div class="container2_0">
            <h1>Pequeña historia del liceo</h1>
        </div>
        <div class="container3_0">
            <h1>Informacion sobre el liceo</h1>
        </div>
        <div class="container2_1">
            <h1>Info sobre los creadores de este peo</h1>
        </div>
    </div>
    <div class="container4_0">
        <div class="min2">
            {% for anuncio in anuncios  %}
                    <img src="{{ anuncio }}" alt="uno de los liceos" width="200" height="200">
            {% endfor %}
        </div>
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/g8fbiFbT0X8?si=0HEwrC9HiLqjKkRs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="min3">
            {% for anuncio in anuncios  %}
                    <img src="{{ anuncio }}" alt="uno de los liceos" width="200" height="200">
            {% endfor %}
        </div>
    </div>
</body>
</html>