<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style4.css">
    <title>Gym LAB</title>
</head>
<body>
    <header>
        <div class="header1">
            <a href="{{ url_for('futsal') }}" class="icon1">
                <img src="{{ iconofutbal }}" alt="icono futsal" width="50" height="50">
            </a>
            <a href="{{ url_for('basquetball') }}" class="icon1">
                <img src="{{ iconobaquet }}" alt="icono baquet" width="50" height="50">
            </a>
            <a href="{{ url_for('voli') }}" class="icon1">
                <img src="{{ iconovoley }}" alt="icono voley" width="50" height="50">
            </a>
        </div>
        <div class="container1.0">
            <a href="{{ url_for('index') }}" class="butom" >
                <img src="/static/logoLAB.png" alt="logo del liceo para volver al inicio" width="90" height="90">
            </a>
        </div>
        <div class="container1_1">
            <h3>Sobre nosotros</h3>
            <a href="{{ url_for('about') }}" class="about">
                <button class="butom2"></button>
            </a>
        </div>
    </header>
    <div class="main_container">
        <div class="container2_0">
            <h1>Anuncios</h1>
        </div>
        <div class="container3_0">
            <img src="{{ logoLAB }}" alt="logo di liceo" width="300" height="300">
            <h1 id="sans">VS</h1>
            <div class="imagen-container">
                {% for imagen in imagenes  %}
                    <img src="{{ imagen }}" alt="uno de los liceos" width="300" height="300">
                {% endfor %}
            </div>
        </div>
        <div class="container2_1">
            <h1>mas anuncios</h1>
        </div>
    </div>
    <div class="container4_0">
        <div class="min2">
            {% for anuncio in anuncios  %}
                    <img src="{{ anuncio }}" alt="uno de los liceos" width="200" height="200">
            {% endfor %}
        </div>
        <div id="container4_1">
            <div class="min1">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad quo numquam sint dignissimos tempora aliquid enim blanditiis. Reiciendis odit quidem distinctio hic officiis quia, labore iste possimus repudiandae, reprehenderit laboriosam?
                </p>
            </div>
            <div class="min4">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto explicabo odio obcaecati eligendi quis tempore illo sequi at doloremque consequuntur aut quos excepturi laudantium, eveniet, reiciendis totam maxime, veniam corporis!
                </p>
            </div>
        </div>
        <div class="min3">
            {% for anuncio in anuncios  %}
                    <img src="{{ anuncio }}" alt="uno de los liceos" width="200" height="200">
            {% endfor %}
        </div>
    </div>
    <div id="main_container2">
        <h2>
            Redes sociales del liceo
        </h2>
        <div class="social">
            <a href=""><img src="{{ iconoface }}" alt="icono de facebook"></a>
            <a href=""><img src="{{ logoLAB }}" alt="logo del liceo"></a>
        </div>
    </div>
</body>
</html>